/* Navbar Component Styles */

.navbar {
  border-bottom: 1px solid #343a40;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navbar-brand {
  font-size: 1.1rem;
  letter-spacing: -0.2px;
}

.nav-link {
  font-size: 0.9rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
